<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/main.css?{{ cacheBust.mainCss }}" />
    <link rel="stylesheet" href="/assets/vendor.js?{{ cacheBust.vendorJs }}" />
    <link rel="stylesheet" href="/assets/main.js?{{ cacheBust.mainJs }}" />
  </head>
  <body>

    <div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
						<li class="nav-links"><a href="/">home</a></li>
						<li class="nav-links"><a href="/">about</a></li>
						<li class="nav-links"><a href="/">whatever</a></li>
						<li class="nav-links"><a href="/">contact</a></li>
					</ul>
			</nav>
		</div>

{{ content | safe }}


    <script src="/assets/vendor.js?<%- Date.now() %>"></script>
    <script src="/assets/main.js?<%- Date.now() %>"></script>
  </body>
  </html>
