$primary: #222425;
$grey: #a4a8a8;

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

body {
	background: grey;
	text-align: center;
}

img {
	margin: 0;
	padding: 0;
}

@import "navigation";
@import "media-queries";
